<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chatbot for Hackathon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <!-- May cause problems -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/index.js"></script>
  </head>
  <body>
		<div id="wrapper">
      <header>
        <button type="button" class="btn btn-secondary" id="backButton">
          &#8592;
        </button>
        <div id="chatDetails">
          <p id="chatName">Gojo</p>
          <small class="form-text">How can I help you?</small>
        </div>
      </header>
      <div id="chats">
      </div>
      <footer>
        <form id="sendMsg" autocomplete="off" class="input-group" method="POST">
          <input type="text" class="form-control" id="chatBox" placeholder="Ask query" name="chatBox">
          <button type="submit" class="btn btn-primary" id="sendButton" name="sendButton">&#8594;</button>
          <button type="submit" class="btn btn-primary" id="speechButton" name="speechButton">&#127908;</button>
        </form>
      </footer>
    </div>
	</body>
</html>